<h5 class="card-title">Welcome to GitHub API</h5>
<p class="card-text">This api is developed to search for information from the repositories in github for later administration.</p>

<div class="card" style="width: 18rem;">
  <div class="card-body">
    <div class="center">
      <i class="fa fa-search fa-3x color-blue" aria-hidden="true"></i>
      <h5 class="card-title m-2">Search repositories</h5>
    </div>
    <p class="card-text">Lets you get information from github repositories based on username.</p>
  </div>
</div>

<div class="card" style="width: 18rem;">
  <div class="card-body">
    <div class="center">
      <i class="fa fa-download fa-3x color-blue" aria-hidden="true"></i>
      <h5 class="card-title m-2">Import data</h5>
    </div>
    <p class="card-text">You can import the information obtained from the Github API into a local database.</p>
  </div>
</div>

<div class="card" style="width: 18rem;">
  <div class="card-body">
    <div class="center">
      <i class="fa fa-database fa-3x color-blue" aria-hidden="true"></i>
      <h5 class="card-title m-2">Administration</h5>
    </div>
    <p class="card-text">From your local database you can create, update and delete the records.</p>
  </div>
</div>